<div class="center-block">
  <p id="notice"><%= notice %></p>
  <div class="on-page-nav">
  <%= link_to 'Vote For This Book', new_vote_path(:id => @book.id, :value => 1), data: {confirm: 'Are you sure? Remember, you only get one vote.' } %> |
  <%= link_to 'Back', books_path %>
  </div>
  <div class="result-info">
    <h2><%= @book.title %></h2>
    <h3>By <%= @book.author %></h3>
    <div class="review-frame">
      <iframe seamless src="<%= @book.customer_reviews %>" />
    </div>
  </div>
</div>

